* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    text-align: center;
}

label {
    text-align: center;
    width: 100%;
    display: block;
}

input {
    background-color: gray;
    width: 100%;
}

select {
    background-color: gray;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

.topBar {
    height: 20px;
    background-color: dimgray;
    border-color: darkgray;
    border-style: solid;
    width: 310;
}

.separator {
    height: 5px;
    background-color: gray;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-color: darkgray;
    border-style: solid;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tabButton {
    flex-grow: 1;
    background-color: gray;
    font-size: larger;
}

.dropZone {
    border: white;
    border-style: dashed;
    border-radius: 20px;
    height: 100px;
    flex-grow: 1;
}

.img {
    width: 80px;
    height: 80px;
}

.flex-hor {
    justify-content: flex-start;
}

.label-tag {
    width: 75%;
}

.divOption {
    border-radius: 20px;
}

.selected {
    background: orangered;
}

.content {
    background-color: darkgray;
    padding: 10px;
}

.g {
    background-color: #22df2e;
}

.r {
    background-color: #d21c1c;
}

.b {
    background-color: #3d4ebe;
}

#divMain {
    position: absolute;
    background-color: gray;
    border-radius: 25px;
    min-width: 310px;
    resize: both;
    width: 310px;
}

#divTooltip {
    position: absolute;
    background-color: gray;
    border-radius: 25px;
    width: 500px;
}
